/* GENERALES */
  * {
 margin: 0;
 padding: 0;
 text-decoration: none;
 list-style: none;
}

*, *:before, *:after {
  box-sizing: inherit;
 }

html {
 box-sizing: border-box;
 height: 100%;
 scroll-behavior: smooth!important;
 scroll-padding: 10px;
}

body {
 font-family: 'Anek Malayalam'!important;
 line-height: 2;
 font-size: 16px;/* 1rem = 10px */
}

/* Header */

header {
 height: 130vh;
 background-image: url(../img/banner.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center center;
}

@media only screen and (min-width: 376px) {
  header {
    height: 85vh;
  }
}
@media only screen and (min-width: 769px) {
  header {
    height: 60vh;
  }
}

/* Navbar de header */
.navbar ul li a {
  font-size: 1.3em;
  font-family: 'Anek Malayalam', sans-serif;
}


.navbar ul li a:hover {
  color: rgb(105, 162, 228);
 }
 
/* Esto es para cambiar el tamaño de la fuente en pantallas mas grandes */
@media only screen and (min-width: 769px) and (max-width: 880px) {
  .navbar ul li a {
    font-size: 15px;
}}
@media only screen and (min-width: 881px) and (max-width: 990px) {
  .navbar ul li a {
    font-size: 18px;
}}

.navbar-brand {
  margin-top: 8px;
  font-size: 40px;
}


/** Texto Banner **/
.headerText {
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
 }

 .headerText h2 {
   font-size: 45px;
   font-family: 'Signika Negative', sans-serif;
  }
  .headerText h2 span {
   font-size: 49px;
   color: rgb(105, 162, 228);
  }
 .headerText p {
  font-size: 26px;
  margin-top: 45px;
  font-family: 'Open Sans';
 }

 @media only screen and (min-width: 1366px) {
  .headerText p {
    margin-top: 65px;
   }.headerText h2 {
    margin-top: 95px;
   }
}
 


/* TEXTO NOSOTROS, EXPERIENCIA Y QUE INCLUYE */
@media only screen and (min-width: 1200px){
  .textos-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 330px);
    column-gap: 30px;
  }
  .experiencia{
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .detalleExperiencia {
    grid-row: 3/4;
  }
  .textos-container .subtituloSection {
    font-size: 60px;
  } 
  .sectionParrafo {
    font-size: 26px;
  }
  .textos-container section {
    margin-top: 0;
  }
}

.sectionParrafo {
  font-size: 1.25rem;
}

.textos-container {
  margin: 4rem 0 4rem 0;
}
.textos-container section {
  margin-top: 3rem;
}

/* GALERIA IMAGENES */
/* GALERIA */


.galeria h2{
  margin: 25px 0 15px;
}
.subtituloSection {
  font-size: 32px;
}
@media only screen and (min-width: 768px){
  .subtituloSection {
    font-size: 50px;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 20px;
  gap: 10px;
}

.gallery__img {
  width: 100%;
  height: 100%;

}
.grid-item {
  position: relative;
}

.grid-item:hover{
  transform: scale(1.01);
  transition: transform .2s ease-in;
  cursor:pointer
}

.grid-item:nth-child(4){
  display: none;
}

@media only screen and (min-width: 1024px){
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: 0 auto;
  }
  .grid-item:nth-child(2){
    grid-column-start: span 2;
  }
  .grid-item:nth-child(1){
    grid-column: 1/3;
  }
  .grid-item:nth-child(3){
    grid-column-start: span 3;
  }
  .grid-item:nth-child(4){
    grid-row-start: span 2;
    display: inline;
  }
  .grid-item:nth-child(5){
    grid-column-start: span 3;
  }
  
}

/*FORMULARIO */
.formContainer {
  width: 90%;
  margin: 20px;
}
.formulario h2 {
  margin-top: 25px;
}

/* FOOTER */
.footer {
  width: 100%;
  padding: 2rem 8%;
  background-color: #132235;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: auto;
  font-family: 'Anek Malayalam';
}

.logoFooter {
  height: 110px;
  margin-bottom: 1rem;
}

.containerSocials,
.footerNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.iconoSocials {
  height: 50px;
  color: #f2f2f2;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #f2f2f2;
  align-items: center;
  font-size: 20px;
  justify-content: center;
  display: flex;
  margin: 1rem;
  transition: all ease .3s;
  text-decoration: none;
}

.iconoSocials:hover {
  transform: scale(1.15);
  color: rgb(105, 162, 228);
  border: 1px solid rgb(108, 148, 172);
}

.footerNavigation {
  color: #f2f2f2;
  font-size: 20px;
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
}
.menu-item {
  margin: 1rem 1.5rem;
  cursor: pointer;
  transition: all ease .3s;
  text-transform: uppercase;
}

.menu-item:hover {
  color: rgb(105, 162, 228);
}

.copyright {
  color: #f2f2f2;
  font-size: 20px;
}  



