$borders: (
 smallCeleste: 1px solid $celeste,
 smallBlanco: 1px solid $blanco,
 mediumCeleste: 2px solid $celeste,
 mediumBlanco: 2px solid $blanco
);

$viewports: (
  60: 60vh,
  85: 85vh,
  130: 130vh
)