$celeste: rgb(105, 162, 228);
$blanco: #ffffff;
$azulOscuro: #132235;

$font-primary: 'Anek Malayalam', sans-serif;
$font-secundary: 'Signika Negative', sans-serif;
$openSans: 'Open Sans';

$font-20: 20px;
$font-26: 26px;
$font-50: 50px;