.footer {
 width: 100%;
 padding: 2rem 8%;
 background-color: $azulOscuro;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 margin-top: auto;
 font-family: $font-primary;

 .containerSocials {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin-bottom: 1rem;

   .iconoSocials {
    height: 50px;
    color: $blanco;
    width: 50px;
    border-radius: 50px;
    border: map-get($borders , smallBlanco );
    align-items: center;
    font-size: $font-20;
    justify-content: center;
    display: flex;
    margin: 1rem;
    transition: all ease .3s;
    text-decoration: none;
   
   &:hover {
    transform: scale(1.15);
    color: $celeste;
    border: map-get($borders , smallCeleste );
   }}   
 }
 .footerNavigation {
   @extend .containerSocials;
   color: $blanco;
   font-size: $font-20;
   border-bottom: map-get($borders , mediumBlanco );
   border-top: map-get($borders , mediumBlanco );

   .menu-item {
    margin: 1rem 1.5rem;
    cursor: pointer;
    transition: all ease .3s;
    text-transform: uppercase;

    &:hover {
     color: $celeste;
    }
   }}
   .copyright {
    color: $blanco;
    font-size: $font-20;
   }
}
