header {
  height: map-get($viewports , 130 );
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @include min376{
    height: map-get($viewports , 85 );
  }
  @include min768{
    height: map-get($viewports , 85 );
  }
  @include min1366{
    height: map-get($viewports , 60 );
  }
  .navbar {
    ul{
    li{
      a{
      font-size: $font-20;
      font-family: $font-primary;
      color: #000000;
        &:hover{
        color: $celeste;
        }}
    }
    }
    .navbar-brand {
    margin-top: 8px;
    font-size: 40px;
      .navbarTitle {
        color: black;
        font-weight: 700;
        font-family: $font-alternative;
      }
  }}
  .headerText {
    color: $blanco;
    text-align: center;
    margin-top: 50px;
    h3 {
    font-size: 48px;
    font-family: $font-secundary;
    @include min1366{
      margin-top: 95px;
    }
      span {
      font-size: $font-50;
      color: $celeste;
      }}
    p {
    font-size: $font-26;
    margin-top: 45px;
    font-family: $openSans;
    @include min1366{
      margin-top: 65px;
    }}} 
}

@media only screen and (min-width: 769px) and (max-width: 880px) {
 .navbar ul li a {
   font-size: 15px;
}}
@media only screen and (min-width: 881px) and (max-width: 990px) {
 .navbar ul li a {
   font-size: 18px;
}
}
 