
.servicesContainer{
 padding: 70px 0 50px 0;
 background-color: rgb(42, 123, 160);
 align-items: center;
 display: flex;
 @include min768 {
  padding: 20px 0 10px 0;
 }
 @include min1366 {
  padding: 70px 10px 50px 10px;
 }
  .servicesTitle {
   color: $blanco;
   font-family: $font-alternative;
   font-weight: 700;
   font-size: 38px;
   text-transform: uppercase;
   margin-bottom: 25px;
   @include min768{
    font-size: 32px;
   }
   @include min1366{
    font-size: 42px;
   }}
  .card {
     background: rgb(42, 123, 160);
     border-color: rgb(42, 123, 160);
     border-radius: 10px;
     margin: 0 15px;
     padding: 10px 0;
     text-align: center;
     color: $blanco;
     transition: 0.3s ease-in-out;
     height: 100%; 
     i {
        font-size: 48px;
        padding-top: 15px;
        color: rgb(230, 189, 69);
     }
     p{
       font-size: 16px;
       color: $blanco;
     }
     .card-body{
       flex: 1 1 auto;
         .card-title{
          margin-bottom: 0.75rem;
          font-size: 28px;
          font-weight: 700;
          font-family: $font-alternative;
          @include min768{
           font-size: 23px;
          }
          @include min1366{
           font-size: 30px;
          }
         }
        .card-text{
         font-size: 19px;
         @include min768{
          font-size: 16px;
         }
         @include min1366{
          font-size: 21px;
         }
         &:last-child {
          margin-bottom: 0;
         }}}}}